@tailwind base;
@tailwind components;
@tailwind utilities;

.breadcrumbs li:not(:last-child) a::after {
    content: "|";
    padding-left: 8px;
    padding-right:8px;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */